Given the user input below, classify it as either being about {% for category in categories %}`{{ category }}`, {% endfor %} or `Other`.

Do not respond with more than one word.

<input>
{input}
</input>

Classification:
